<div class='my-4 container'>
    <div class='row'>
        {{#each courses}}
            <div class='col-sm-6 col-lg-4'>
                <div class='card my-2 h-100'>
                    <a href='/courses/{{this.slug}}'>
                        <img
                            src={{this.image}}
                            class='card-img-top'
                            alt='...'
                        />
                    </a>
                    <div class='card-body'>
                        <h5 class='card-title'>
                            <a
                                class='text-decoration-none'
                                href='/courses/{{this.slug}}'
                            >
                                {{this.name}}
                            </a>
                        </h5>
                        <div class='h-50'>
                            <p class='card-text'>{{this.description}}</p>
                        </div>
                        <div class='text-center'>
                            <a href='#' class='btn btn-primary'>View details</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>